# Local runtimes and logs
node_modules/
npm-debug.log*

# Playwright Test Execution Artifacts
test-results/
playwright-report/
blob-report/ 
playwright/.cache/ 
playwright/.auth/
.auth/

# Local Environment variables
.env
.env.*

# Local operating system configuration caches
.DS_Store
Thumbs.db

# --- Docker Portfolio Optimizations ---
.git
.github
README.md